<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new Post..." %>
  </div>
  <div class="field">
    <%= f.text_area :star_rating, placeholder: "Enter you Star Rating..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>